@model IEnumerable<VehicleViewModel>

<h2 class="mb-3 text-center" style="font-family:verdana">Vehicles</h2>
<div class="mb-2">
    <a asp-controller="Vehicle" asp-action="Create" class="btn btn-sm btn-primary">Add Vehicle</a>
</div>
<table class="table table-bordered table-striped text-center">
    <thead>
        <tr>
            <th>Model</th>
            <th>Brand</th>
            <th>Vehicle Type</th>
            <th>Ratings</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model)
        {
            <tr>
                <td>@v.Model</td>
                <td>@v.BrandName</td>
                <td>@v.BodyType</td>
                <td>@v.Rating ⭐</td>
                <td>
                    <a asp-controller="Vehicle" asp-action="Edit" asp-route-id="@v.Id" class="btn btn-sm btn-warning">Update</a>
                    <a asp-controller="Vehicle" asp-action="Delete" asp-route-id="@v.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
